
<div class="well">
	<div class="row" style="border-bottom: 1px solid #ccc;">
		<div class="col-md-12">
			<h4>Shopping cart</h4>
		</div>
	</div>
	<br>
<%	if (cart && (cart.length > 0) ){ %>
<%		var cartSum=0;					%>
<%		var subSum=0;					%>
		<div style="text-align:right; border-bottom: 1px solid #ccc;">
			<input id="txtEmail1" class="custumberEmail" type="email" placeholder="Email" required/>
			<button id="btnCheckout1" class="btn btn-primary btn-sm">Checkout</button>
			<br><br>
		</div>

		<table class="table table-condensed">
		    <col width="50%">
  		    <col width="10%">
  		    <col width="10%">
  		    <col width="10%">
  		    <col width="10%">
		    <tr>
		  		<th>Product</th>
		  		<th style="text-align:right">QTy</th>
		  		<th style="text-align:center">Remove</th>		  		
		  		<th style="text-align:right">Unit Price</th>
		  		<th style="text-align:right">Price</th>
		    </tr>
<%		_.each(cart, function(line){	%>
<%			subSum = parseFloat(line.price*line.quantity).toFixed(2);%>
<%			cartSum = (parseFloat(cartSum) + parseFloat(subSum)).toFixed(2);		%>
			<tr>
				<td><%=line.productName%></td>
				<td align="right">
					<input class="txtCartQty" type="number" data-product-id="<%=line.productId%>" 
						min="1" value="<%=line.quantity%>" style="width: 7em">
				</td>
				<td align="center">
					<a class="removeItemInCart" data-product-id="<%=line.productId%>">
						<span class="glyphicon glyphicon-remove plyphicon-delete"></span>
					</a>
				</td>
				<td align="right"><%=line.price.toFixed(2)%></td>
				<td align="right"><%=subSum%></td>
			</tr>
<%		});							%>
			<tr>
				<td><strong>Total</strong></td>
				<td colspan="4" align="right"><strong>$<%=cartSum%></strong></td>
			</tr>
		</table>
		
		<div style="text-align:right; border-top: 1px solid #ccc;">
			<br>
			<input id="txtEmail2" class="custumberEmail" type="email" placeholder="Email" required/>
			<button id="btnCheckout2" class="btn btn-primary btn-sm">Checkout</button>
		</div>
		
<%	} else { 						%>
		<span>Cart is empty</span>
<%	} %>

</div>