<div class="row">
	<div class="col-md-9">
		<div class="carousel-wrapper content-row-1">		
			<!-- carousel -->
			<div class="row">
<!-- <!-- 			<div class="col-md-7"> --> -->
			        <div class="carousel-container">
			            <div id="eventCarousel" class="carousel slide">
			                <!-- Carousel items -->
			                <div class="carousel-inner">
			                	<div class="item active homeSlideItem">
		<!-- 	==============================================================================================================							
									NOTE: as this template will be loaded into index page, which is in the same 
									level with resource folder. So the relative path to img is as follow
				==============================================================================================================	-->
									<div class="row">
										<div class="col-md-12 nopadding">
											<div class="carousel-img">
												<a class="slideImg" data-brand="Blackmore">
													<img class="displayed" src="./resources/img/slide/blackmore.png" alt="Blackmore"/>
												</a>
											</div>
										</div>
<!-- 										<div class="col-md-5 nopadding">
					                        <div class="carousel-caption">
					                            <div class="row">
					                            	<div class=" carousel-caption-text-wrap">
				                                    	<h4>Hi-1</h4>
				                                    </div>
			                                    </div>
					                            <div class="row">        
				                                    <a class="btn btn-danger" href="#">Order</a>
					                            </div>
					                        </div>
				                        </div>			
 -->
 			                        </div>			
			               		</div>
			               		<div class="item homeSlideItem">
									<div class="row">
										<div class="col-md-12 nopadding">
											<div class="carousel-img">
												<a class="slideImg" data-brand="NatureOwn">
													<img class="displayed" src="./resources/img/slide/natureown.png" alt="Nature Own"/>
												</a>
											</div>
										</div>
 			                        </div>			
			               		</div>
			               		<div class="item homeSlideItem">
		          					<div class="row">
										<div class="col-md-12 nopadding">
											<div class="carousel-img">
												<a class="slideImg" data-brand="Swisse">
													<img class="displayed" src="./resources/img/slide/swisse.png" alt="Swisse"/>
												</a>
											</div>
										</div>
 			                        </div>			
			               		</div>
			                </div>	                
			                <!-- Carousel nav -->
			                <a class="carousel-control left z999" href="#eventCarousel" data-slide="prev">
			                    <span class="glyphicon glyphicon-chevron-left"></span>
			                </a>
			                <a class="carousel-control right z999" href="#eventCarousel" data-slide="next">
			                    <span class="glyphicon glyphicon-chevron-right"></span>
			                </a>                
			            </div>
			        </div>
				<!-- </div> -->
			</div>
		</div>
	</div>
	<!-- Basket -->
	<div class="col-md-3 nopadding-left">
		<div id="divEmbeddedCart" class="well content-row-1" style="overflow-y: scroll;">
			<h4>Your basket</h4>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-9">
		<!-- Featured products -->
		<div id="featuredProductsWraper" class="well">
			<div class="row">
				<div class="col-md-3">
					<h4 class="nopadding">Featured products</h4>
				</div>
				<div class="col-md-9"> 
					<!-- quick search -->
					<div class="row">
				 		<div class="col-md-12" style="padding-bottom:10px;">
							<input id="txtSearchHome" type="text" size="40"
								placeholder="Search part no, keyword" />
							<a id="quickSearchLink"><span class="glyphicon glyphicon-search"></span></a>
				  		</div>
					</div>
				</div>
			</div>
			<div id="featuredProducts"></div>
		</div>
	</div>
	<div class="col-md-3 nopadding-left">
		<div id="divCategoryEmbedded" class="well" style="overflow-y: scroll; max-height:800px;">
			<h4>Product by Category</h4>
		</div>
	</div>
</div>