<div class="well">
	<!-- quick search -->
	<div class="row">
 		<div class="col-md-12" style="padding-bottom:10px;">
<!-- 			<div class = "panel panel-info">
			   <div class = "panel-heading">
 -->
					<form action="#">
						<input id="quickSearchInput" type="text" size="40"
							placeholder="Search part no, keyword" />
						<a href=""><span class="glyphicon glyphicon-search"></span></a>
					</form>
<!-- 			   </div>
			</div>
 -->
  		</div>
	</div>

	<!-- carousel -->
	<div class="row">
		<div class="col-md-9">
	        <div class="carousel-container">
	            <div id="eventCarousel" class="carousel slide">
	                <!-- Carousel items -->
	                <div class="carousel-inner">
	                	<div class="item active homeSlideItem">
<!-- 	==============================================================================================================							
							NOTE: as this template will be loaded into index page, which is in the same 
							level with resource folder. So the relative path to img is as follow
		==============================================================================================================	--> 							
							<div class="row">
								<div class="col-md-7">
	 								<img src="./resources/img/promote0.png" alt="Aloe"/>
								</div>
								<div class="col-md-4">
			                        <div class="carousel-caption">
			                            <div class="row">
			                                <p><h5>Hi</h5></p>
			                                <br><a class="btn btn-danger" href="#">Order</a>
			                                    <!-- <a class="btn btn-danger action" href="#">Order</a> -->
			                            </div>
			                        </div>						
								</div>
							</div>
	               		</div>
	               		<div class="item homeSlideItem">
							<img src="./resources/img/promote1.png" alt="Fish oil"/>
	                        <div class="carousel-caption">
	                            <div class="row">
	                                <div class="col-md-9">
	                                    <h5>Hi-2</h5>
	                                </div>
	                                <div class="col-md-2">
	                                    <a class="btn btn-danger" href="#">Order</a>
	                                </div>
	                            </div>
	                        </div>						
	               		</div>
	               		<div class="item homeSlideItem">
							<img src="./resources/img/promote2.png" alt="Multiple vitamins"/>
	                        <div class="carousel-caption">
	                            <div class="row">
	                                <div class="col-md-9">
	                                    <h5>Hi-2</h5>
	                                </div>
	                                <div class="col-md-2">
	                                    <a class="btn btn-danger" href="#">Order</a>
	                                </div>
	                            </div>
	                        </div>						
	               		</div>
	               		
	                </div>	                
	                <!-- Carousel nav -->
	                <a class="carousel-control left" href="#eventCarousel" data-slide="prev">
	                    <span class="glyphicon glyphicon-chevron-left"></span>
	                </a>
	                <a class="carousel-control right" href="#eventCarousel" data-slide="next">
	                    <span class="glyphicon glyphicon-chevron-right"></span>
	                </a>                
	            </div>
	        </div>
			
		</div>
	</div>
	
</div>

<!-- Featured products -->
<div id="featuredProducts" class="well">
	Featured products
</div>
