<div class="well">
	<h3>Search products</h3>
	<input id="txtSearchKeyWord" placeholder="Search part no, keyword" size="40" />
	<div id="divProductCountByCategory">
<%		if (model) {	%>
			<span>Category: <%=model.categoryId%></span>
			<br><span>Keyword: <%=model.keyWord%></span>
			<br><span>Found: <%=model.resultCount%></span>
<%		}	%>
	</div>
	
	
	<!-- Product count by categories -->
	<!-- input: productCountByCategories -->
	<div>
		<br><span>Products count by category</span>
	<% 	if ( productCountByCategories && (productCountByCategories.length>0) ){
			_.each( productCountByCategories, function (productCountByCategory) {	%>
				<br><span><%=productCountByCategory.path%> | 
					<a data-category-id="<%=productCountByCategory.categoryId%>" > <%=productCountByCategory.categoryName%></a>
					(<%=productCountByCategory.productCount%>)
				</span>
	<%		});		
		} else {	%>
			<br><span>Not found</span>
	<%	}	%>
	</div>
	<!-- end of Product count by categories -->
	
	<br>
	<div id="divSearchProductPagination">ProductPagination</div>
</div>