<div class="well">
	<h3>Search products</h3>
	<input id="txtSearchKeyWord" placeholder="Search part no, keyword" size="70" />
	<div id="divProductCountByCategory">
<%		if (model) {	%>
			<span>Category: <%=model.categoryId%></span> &nbsp; <a id="aClearCategory">Clear</a>
			| <span>Keyword: <%=model.keyWord%></span> &nbsp; <a id="aClearKeyWord">Clear</a>
			| <span>Found: <%=model.resultCount%></span>
<%		}	%>
	</div>
	
	<!-- Product count by categories -->
	<!-- input: productCountByCategories -->
	<div>
		<br><span><strong>Products count by category</strong></span>
	<% 	if ( productCountByCategories && (productCountByCategories.length>0) ){
			_.each( productCountByCategories, function (productCountByCategory) {		%>	
				<br><span>
	<%			_.each( productCountByCategory.categoryPath, function (categoryName) {	%>
					<%=categoryName%>>
	<%			}); %>
				</span> 
				<a class="categoryPath" data-category-id="<%=productCountByCategory.categoryId%>" > <%=productCountByCategory.categoryName%></a>
					(<%=productCountByCategory.productCount%>)
	<%		});		
		} else {	%>
			<br><span>Not found</span>
	<%	}	%>
	</div>
	<!-- end of Product count by categories -->

	<br>
	<!-- list all attributes -->
	<div>
		<div class="row">
		<% 	if ( model.listAttributeValues && (model.listAttributeValues.length>0) ){
			_.each( model.listAttributeValues, function (attributeValues) {		%>
			<!-- WORKING HERE  -->
				<!-- each property is in a column -->
				<div class="col-md-1">
					<span style="display:none;">id: <%=attributeValues.id%>, </span>
					<span><%=attributeValues.name%></span>
		<%  		_.each( attributeValues.values, function(value){	%>
						<br><span><input type="checkbox" /><%=value%></span>
		<%			});				%>
				</div>
		<%		});		
			} else {	%>
				<br><span>No attribute</span>
		<%	}	%>
		</div>
	</div>	
	
	<br>
	<div id="divSearchProductPagination">ProductPagination</div>
</div>