<div class="well">
	<div class="row">
		<div class="col-md-12">
	<!-- 		<div class="well"> -->
				<div class="row" style="border-bottom: 1px solid #ccc;">
					<div class="col-md-12">
						<span><strong>Found: <%=model.resultCount%></strong></span>
						&nbsp;
						<button id="btnResetSearch" class="btn btn-primary btn-xs">Reset</button>					
	<!-- 					&nbsp;
						<button id="btnSearch" class="btn btn-primary btn-sm">Search</button> 
	 -->
	 					&nbsp;
						<input id="txtSearchKeyWord" placeholder="Search part no, keyword" size="40" />
						<a id="btnSearch"><span class="glyphicon glyphicon-search"></span></a>
						&nbsp;
				<%		var hasKeyword=false;
						if (model && model.keyWord && (model.keyWord.length>0) ) {	
							hasKeyword=true;										%>
							<span>Keyword: <%=model.keyWord%></span>
							<a id="aClearKeyWord">
								<span class="glyphicon glyphicon-remove plyphicon-delete"></span>							
							</a>
				<%		}							%>
				<%		if (model && model.categoryName && (model.categoryName.length>0) ) {	%>
					<%		if (hasKeyword){			%>
								, &nbsp;
					<%		}							%>
							<span>Category: <%=model.categoryName%></span>
							<a id="aClearCategory">
								<span class="glyphicon glyphicon-remove plyphicon-delete"></span>
							</a>
				<%      } 	%>				
					</div>
	<!-- 				<div class="col-md-3 nopadding">
						<span>Found: <%//=model.resultCount%></span>
						&nbsp; 
						<button id="btnResetSearch" class="btn btn-primary btn-sm">Reset</button>									
					</div>
	 -->			</div>
	
				<!-- Product count by categories -->
				<!-- input: catModel{categoryParents, // list unique parents of all current category  
							productCountByCategories} // array of product count for each current category [categoryId, categoryName, categoryPath[], count ]-->
				<!-- if display all category and found products -->
		<%		if (model.categoryId && (model.categoryId == -1) &&  (model.resultCount > 0)) {	 %>
	 				<div class="row" style="border-bottom: 1px solid #ccc;"> 
						<div class="col-md-5">
								<div id="divCategoryEmbedded" style="overflow-y: scroll; max-height:800px;">
									<h4>Add Category Embedded here</h4>
								</div>
								<!-- <div id="divProductCountByCategory"> -->
						</div>
					</div>
		<%		}	%>			
	<!-- 		</div> -->
		</div>
	</div>
	<br>
<!-- list all attributes -->
<%	if ( (model.filters.length>0) || (model.listAttributeValues.length>0) ) {	%>
<!-- <div class="well"> -->
	<div class="row">
		<div class="col-md-12 nopadding-bottom">
		
		<% 	if ( model.listAttributeValues && (model.listAttributeValues.length>0) ){
				_.each( model.listAttributeValues, function (attributeValues) {		%>
					<!-- if search gave result, display search condition then -->
					<!-- each property is in a column -->
					<div class="col-md-1 nopadding border-left" style="border-left: 1px solid #ccc;" style="overflow-y: scroll; max-height:400px;">
					<!-- if attributed was used to filter data then display clear & clear all buttons, 
					else display check box -->
	<%					if ( attributeValues.filtered ) {	%>
							<a class="clearFilters" data-attribute-id="<%=attributeValues.id%>">
								<span class="glyphicon glyphicon-remove plyphicon-delete"></span>
							</a>
							<span><strong><%=attributeValues.name%></strong></span>
				<%  		_.each( attributeValues.values, function(value){	%>
								<br>
								<a class="clearFilter" data-attribute-id="<%=attributeValues.id%>" data-attribute-value="<%=value%>">
									<span class="glyphicon glyphicon-minus plyphicon-delete"></span>
								</a> 
								<span><%=value%></span>
				<%			});				
						} else {	%>				
						<span><strong><%=attributeValues.name%></strong></span>
			<%  		_.each( attributeValues.values, function(value){	%>
							<br><span><input type="checkbox" class="checkboxAttributeValue" data-attribute-id="<%=attributeValues.id%>" data-attribute-name="<%=attributeValues.name%>" value="<%=value%>"/><%=value%></span>
			<%			});				
					}		%>
				</div>
		<%		});		
			} else {	%>
				<!-- if search gave no result, display search condition  -->			
		<%		if (model) {	%>    
		<%			if (model.filters.length > 0){	%>
						<span>Filter: | </span>
		<%				$.each(model.filters, function(index, filter){	%>
							<a class="clearFilter" data-attribute-id="<%=filter.attributeId%>" data-attribute-value="<%=filter.attributeValue%>">
								<span class="glyphicon glyphicon-remove plyphicon-delete"></span>
							</a>
							<span><%=filter.attributeName%>=<%=filter.attributeValue%></span> |
		<%				})
					}	%>			
		<%		} else{	%>
					<br><span>No attribute</span>
		<%		}	
			}	%>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-12">
			<button id="btnApplyFilter" class="btn btn-primary btn-xs">Apply Filter</button>
			&nbsp;
			<button id="btnClearAllFilters" class="btn btn-primary btn-xs">Clear All Filters</button>
		</div>
	</div>
<!-- </div> -->
<%	}	%>
</div>

<%	if ( model.resultCount>0 ) {	%>
<!-- pagination and basket -->
<div class="row">
	<div class="col-md-9">
		<div id="divSearchProductPagination" class="">
			ProductPagination
		</div>
	</div>	
	<div class="col-md-3 nopadding-left">
		<div id="divEmbeddedCart" class="well">
			<h4>Embedded Cart</h4>
		</div>
	</div>
</div> 
<%	}	%>
