<div class="well">
	<div id="divPagination">
		<div class="row">
			<div class="col-md-6">
		 		<button id="previous" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-chevron-left"/></button> 
				<span><%=pagination.first + 1%>..<%=pagination.last + 1%> / <%=pagination.count%> </span>
		 		<button id="next" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-chevron-right"/></button>
			</div>
			<div class="col-md-6 right">
				<span>Page size &nbsp; <input type="number" id="inpPageSize" min="4" step="4" placeholder="Page Size" value="<%=pagination.pageSize%>"/></span>
	 		</div>
 		</div>	
	</div>
	<div id="divProductPage">
	</div>
</div>