<table class="table">
<!-- 	<caption><span>Products</span></caption> -->
	<tbody>
		<% 	var gridProducts = [];
			while(products.length){
				gridProducts.push(products.splice(0,3));
			}
		
			if (gridProducts.length > 0) {
				_.each(gridProducts, function(lineProducts){
		%>
					<tr>
		<%			
						_.each(lineProducts, function(product){
		%>
							<td>
								<a href="#products/<%=product.id%>"><%=product.name%></a>						
			<%					if(product.medias.length > 0){
			%>
									<div>
										<img src='<%=product.medias[0].url%>', alt="Product's media" width="110">
									</div>
			<%								
								}
		%>						
								<br><input type="number" id="quantity<%=product.id%>" placeholder="Quantity" style="width: 4em"/>
								<button name="addToCart" class="btn btn-primary btn-xs" 
									data-product-id="<%=product.id%>" data-product-name="<%=product.name%>">Cart</button>			
							</td>
		<%							
						})
		%>
					</tr>
		<%
				})	
			}
		%>
	</tbody>
</table>