<div>
	<h3>Purchase confirmation</h3>
	<div class="well">
<%		if(purchase){	%>
<%			var cartSum=0;					%>
<%			var subSum=0;					%>
			<span>purchase id: <%=purchase.id%></span>
			<br><span>customer email: <%=purchase.customer.email%></span>

			<table class="table table-condensed">
			    <col width="70%">
	  		    <col width="10%">
	  		    <col width="20%">
			    <tr>
			  		<th>Product</th>
			  		<th align="right">Quantity</th>
			  		<th align="right">Price</th>
			    </tr>
			
<%			$.each( purchase.orderDetails, function(i, orderDetail){	%>
<%				subSum = parseFloat(orderDetail.pricePerUnit*orderDetail.quantity).toFixed(2);%>
<%				cartSum = (parseFloat(cartSum) + parseFloat(subSum)).toFixed(2);		%>
				<tr>
					<td><%=orderDetail.product.name%></td>
					<td><%=orderDetail.quantity%></td>
					<td><%=subSum%></td>
				</tr>				
<%			} );	%>	
			<tr>
				<td><strong>Total</strong></td>
				<td colspan="2" align="right"><strong>$<%=cartSum%></strong></td>
			</tr>
		</table>
<%		} else {	%>
			<span>System error</span>
<%		}	%>		
	</div>	
	<div style = "padding:30px;">
		<a href="#">Home</a>
		&nbsp;<span>Print</span>
		&nbsp;<span>Email</span>
		&nbsp;<span>Download</span>
	</div>
</div>